/* common shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-container {
    text-align: right;
    max-width: 500px;
    width: 45%;
    margin-left: auto;
    padding: 216px 230px 364px 845px;
}

.banner-title {
    color: #151414;
    font-size: 65px;
}

.banner-description {
    color: #444343;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-white {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #F15B22;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
}

/* main section start */
.previous-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin: 100px;
}

.fail-title {
    color: #151414;
    font-size: 40px;
    width: 288px;
    margin-bottom: 24px;
}

.fail-info {
    width: 416px;
    color: #444343;
    margin-bottom: 16px;
}

.fail-list {
    color: #444343;
    list-style: none;
}

.fail-list li {
    display: flex;
    gap: 5px;
}

/* plans section start */

.plan-container {
    width: 1140px;
    margin: 0 auto;
    padding-bottom: 130px;
}

.plan-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 55px;
}

.plan-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.plan-name {
    color: #151414;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.plan-description {
    color: #737272;
    font-size: 25px;
    width: 270px;
}